In [1]:
%run lib/__wesley_init_verbose__.py
import pandas as pd

	Welcome to the Wesley Initiation File!


The Wesley Initiation File consists of multiple functions to help us with our tasks.
I am loading the following functions:
	find_file(pathway)
	walk_directory(directory)
	walk_directory_verbose(directory)
	initialize_data_log()
	initialize_syn_log()
	initialize_url_log()
	pdf_to_txt(path)
	txt_to_txt(path)
	docx_to_txt(path)
	rtf_to_txt(path)
	to_string(text)
	to_bytes(text)
	clean_the_text(text, remove_numbers=False)
	pos_tag(text)
	count_unique_words(string)
	count_words(text)
	count_word_frequency(text)
	determine_pdf_encoding(file)
	ngram_list(text, n_gram_size)
	find_keywords(text)
	tokenize_by_words(text)
	tokenize_by_words2(text)
	split_into_sentences(text)
	simple_tokenize_by_sentences(text)
	tokenize_by_paragraphs(text)
	remove_stopwords(text, is_lower_case=False)
	simple_stemmer(text)
	lemmatize_text(text)
	single_word_search(search_word)
	accessed_created_modified(file)
	plot_top_ngrams_barchart(text, n=2)
	plot_named_entity_barchart(text)
	pull_urls(text)
	find_synonyms(search_term)
	get_synonyms(search_term)
	cosine_similarity(string_1, string_2)
	levenshtein_distance(string_1, string_2)
	text_summarization(text)
	show_wordcloud(data, title = None)
	tfidf_string_similarity_test(correct_string,test_string)

In [3]:
# Import the books.csv file as a DataFrame
df = pd.read_csv('columbineC.csv')
df.sample(3).T

,52383,58440,39635
id,809810597734924288,596073234635890690,967548575763673088
conversation_id,809810597734924288,592026311796850690,967521441863225345
created_at,2016-12-16 12:21:06 EST,2015-05-06 18:05:08 EDT,2018-02-24 18:55:31 EST
date,2016-12-16,2015-05-06,2018-02-24
time,12:21:06,18:05:08,18:55:31
timezone,-500,-500,-500
user_id,776947029276758016,2931195472,822444348977463296
username,_dmin_,airspray6179,poetwoagun
name,Destiny Minker,s,poetWOAgun
place,NaN,NaN,NaN
tweet,Y'all wanna freak about a shooting but jam to ...,@ByArjix make me one if the columbine school s...,@TyEducatingLibs @Education4Libs The Columbine...
language,en,en,en
mentions,[],[],[]
urls,[],[],[]
photos,[],[],['https://pbs.twimg.com/media/DW1sSlZWAAAcJEU....
replies_count,0,0,0
retweets_count,0,0,1
likes_count,2,0,1
hashtags,[],[],"['clintongate', 'clintoncash']"
cashtags,[],[],[]
link,https://twitter.com/_dmin_/status/809810597734...,https://twitter.com/AIRSPRAY6179/status/596073...,https://twitter.com/poetWOAgun/status/96754857...
retweet,False,False,False
quote_url,NaN,NaN,NaN
video,0,0,1
thumbnail,NaN,NaN,https://pbs.twimg.com/media/DW1sSlZWAAAcJEU.jpg
near,NaN,NaN,NaN
geo,NaN,NaN,NaN
source,NaN,NaN,NaN
user_rt_id,NaN,NaN,NaN
user_rt,NaN,NaN,NaN
retweet_id,NaN,NaN,NaN
reply_to,[],[],"[{'screen_name': 'Education4Libs', 'name': 'Ed..."
retweet_date,NaN,NaN,NaN
translate,NaN,NaN,NaN
trans_src,NaN,NaN,NaN
trans_dest,NaN,NaN,NaN

In [4]:
print('From the "columbineC.csv" file.\n')
print('CSV File Shape:\n',df.shape)
print('\n\nCSV Column Titles:\n',df.columns)
# print('\n\nHashtag Value Counts:\n', df.hashtags.value_counts())

From the "columbineC.csv" file.

CSV File Shape:
 (92972, 36)


CSV Column Titles:
 Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'likes_count',
       'hashtags', 'cashtags', 'link', 'retweet', 'quote_url', 'video',
       'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

354412889              371
81536715               362
613404995              244
417862287              125
343356408              121
                      ...
3038361758               1
309436573                1
1211293734991622145      1
1447794842               1
569638912                1
Name: user_id, Length: 71579, dtype: int64

In [5]:
# Make hashtag column into list of values, all_tags will list every hashtag

all_tags = []
for b in df['hashtags']:
    c = str(b).split(", ")
    c = str(c).replace('[', '')
    c = str(c).replace(']', '')
    c = str(c).replace("'", '')
    c = str(c).replace('"', '')
    c = str(c).split(', ')
    for element in c:
        all_tags.append(element)

In [6]:
# Find the top 10 hashtags

from collections import Counter

hashtag_count = dict(Counter(all_tags))

print('\n\nTop 10 Most Frequent Hashtags: \n', sorted(hashtag_count, key=hashtag_count.get, reverse=True)[:10])
#  or 
print('\n\nCount of Top 10 Most Frequent Hashtags: \n',dict(Counter(hashtag_count).most_common(10)))

Top 10 Most Frequent Hashtags:
 ['', 'columbine', 'columbineshooting', 'shooting', 'nationalschoolwalkout', 'guncontrol', 'neveragain', 'momsdemandaction', 'parkland', 'guncontrolnow']


Count of Top 10 Most Frequent Hashtags:
 {'': 75936, 'columbine': 3889, 'columbineshooting': 796, 'shooting': 614, 'nationalschoolwalkout': 498, 'guncontrol': 399, 'neveragain': 398, 'momsdemandaction': 396, 'parkland': 376, 'guncontrolnow': 363}

In [7]:
# --- username frequency ------------------------

usernames = []
for b in df['username']:
    usernames.append(b)

username_count = dict(Counter(usernames))

print('\n\nTop 10 Most Frequent Usernames: \n', sorted(username_count, key=username_count.get, reverse=True)[:10])
#  or 
print('\n\nCount of Top 10 Most Frequent Usernames: \n',dict(Counter(username_count).most_common(10)), '\n\n',)

display(df.info())

Top 10 Most Frequent Usernames:
 ['hollowtowers', 'letsrollforums', 'pacostacos2525', 'prasannabidkar', 'juaqin11', 'sirenshaper', 'pulpnews', 'norma769', 'votingamerican9', 'bullying_done']


Count of Top 10 Most Frequent Usernames:
 {'hollowtowers': 371, 'letsrollforums': 362, 'pacostacos2525': 244, 'prasannabidkar': 125, 'juaqin11': 121, 'sirenshaper': 104, 'pulpnews': 85, 'norma769': 73, 'votingamerican9': 68, 'bullying_done': 62}


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92972 entries, 0 to 92971
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               92972 non-null  int64
 1   conversation_id  92972 non-null  int64
 2   created_at       92972 non-null  object
 3   date             92972 non-null  object
 4   time             92972 non-null  object
 5   timezone         92972 non-null  int64
 6   user_id          92972 non-null  int64
 7   username         92972 non-null  object
 8   name             92950 non-null  object
 9   place            720 non-null    object
 10  tweet            92972 non-null  object
 11  language         92972 non-null  object
 12  mentions         92972 non-null  object
 13  urls             92972 non-null  object
 14  photos           92972 non-null  object
 15  replies_count    92972 non-null  int64
 16  retweets_count   92972 non-null  int64
 17  likes_count      92972 non-null  int64
 18  hashtags         92972 non-null  object
 19  cashtags         92972 non-null  object
 20  link             92972 non-null  object
 21  retweet          92972 non-null  bool
 22  quote_url        3855 non-null   object
 23  video            92972 non-null  int64
 24  thumbnail        7454 non-null   object
 25  near             0 non-null      float64
 26  geo              0 non-null      float64
 27  source           0 non-null      float64
 28  user_rt_id       0 non-null      float64
 29  user_rt          0 non-null      float64
 30  retweet_id       0 non-null      float64
 31  reply_to         92972 non-null  object
 32  retweet_date     0 non-null      float64
 33  translate        0 non-null      float64
 34  trans_src        0 non-null      float64
 35  trans_dest       0 non-null      float64
dtypes: bool(1), float64(10), int64(8), object(17)
memory usage: 24.9+ MB

None

In [15]:
df

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1349518189688832001,1349494392927604737,2021-01-13 16:46:23 PST,2021-01-13,16:46:23,-800,1033477624624889857,huntergirch3,Hunter Girch,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'CoachJBHall', 'name': 'JB Ha...",NaN,NaN,NaN,NaN
1,1349486322172350465,1349477039431053313,2021-01-13 14:39:46 PST,2021-01-13,14:39:46,-800,1033477624624889857,huntergirch3,Hunter Girch,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'CoachPrier', 'name': 'COACH ...",NaN,NaN,NaN,NaN
2,1342530921338171393,1342530921338171393,2020-12-25 10:01:29 PST,2020-12-25,10:01:29,-800,2474742906,justinnaranjo5,Justin Naranjo,"{'type': 'Point', 'coordinates': [34.44167533,...",...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1330733949103067144,1330733949103067144,2020-11-22 20:44:31 PST,2020-11-22,20:44:31,-800,2474742906,justinnaranjo5,Justin Naranjo,"{'type': 'Point', 'coordinates': [34.44167533,...",...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1330727486842425347,1330727486842425347,2020-11-22 20:18:51 PST,2020-11-22,20:18:51,-800,2474742906,justinnaranjo5,Justin Naranjo,"{'type': 'Point', 'coordinates': [34.44167533,...",...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536,1196330757351854080,1196330757351854080,2019-11-17 23:34:13 PST,2019-11-17,23:34:13,-800,72602891,acalagias,alethia calagias,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
537,1196329060248379392,1196329060248379392,2019-11-17 23:27:29 PST,2019-11-17,23:27:29,-800,2842305256,tiedtohope,Rev. Dr. V,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
538,1196317264540127233,1196317264540127233,2019-11-17 22:40:37 PST,2019-11-17,22:40:37,-800,968788490,austindave_,Austin Dave,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
539,1196310410586017794,1196310410586017794,2019-11-17 22:13:22 PST,2019-11-17,22:13:22,-800,758899526602149888,emilyfiitz,emily fitzgerald ✨,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
540,1196298029755588608,1196298029755588608,2019-11-17 21:24:11 PST,2019-11-17,21:24:11,-800,148961900,passthepinot,LoriG,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [28]:
'''preparing a csv to use for further analysis'''

# ---Import libraries---
%run lib/__wesley_init__.py
import pandas as pd
from collections import Counter
from datetime import *
from tqdm import tqdm
from decimal import Decimal

print('Libraries loaded') #Progress check

Libraries loaded

In [29]:
def hashtags_used_count(username):
    from collections import Counter
    username_sorted_df = df[df['username'] == username]
    all_tags = []
    for b in username_sorted_df['hashtags']:
        c = str(b).split(", ")
        c = str(c).replace('[', '')
        c = str(c).replace(']', '')
        c = str(c).replace("'", '')
        c = str(c).replace('"', '')
        c = str(c).split(', ')
        for element in c:
            all_tags.append(element)
    
    hashtag_count = dict(Counter(all_tags))
    return hashtag_count

In [30]:
# hashtag_count

In [40]:
def min_max_date(username):
    from collections import Counter
    username_sorted_df = df[df['username'] == username]
    username_sorted_df = username_sorted_df.reset_index(drop=True)
    min_date = min(username_sorted_df['date'])
    max_date = max(username_sorted_df['date'])
    return min_date, max_date

def count_days(min_date, max_date):
    date_format = "%Y-%m-%d"
    min_date = datetime.strptime(min_date, date_format)
    max_date = datetime.strptime(max_date, date_format)
    delta = max_date - min_date
    return delta.days

NameError: name 'delta' is not defined

In [34]:
min_max_date('huntergirch3')

('2021-01-13', '2021-01-13')

In [41]:
def count_days(min_date, max_date):
    date_format = "%Y-%m-%d"
    min_date = datetime.strptime(min_date, date_format)
    max_date = datetime.strptime(max_date, date_format)
    delta = max_date - min_date
    return delta.days

In [42]:
count_days('2021-01-13', '2021-01-13')

0

In [43]:
def extract_mentions(df):
    mentions = []
    for tweet in df['tweet']:
        tokened_tweet = tokenize_by_words2(tweet)
        for word in tokened_tweet:
            if '@' in word:
                mentions.append(word)
    mention_count = Counter(mentions)
    return mention_count

In [46]:
extract_mentions(df)

Counter({'@CoachJBHall': 1,
         '@zoom_us': 1,
         '@CoachPrier': 2,
         '@ISUBengals': 1,
         '@IdahoStateFB': 1,
         '@pavel_who': 1,
         '@': 271,
         '@graciestrongnow': 2,
         '@colettemiller': 1,
         '@GracieStrongNow,': 1,
         '@FredNBCLA': 1,
         '@Pliableone': 1,
         '@Apryl404': 1,
         '@Cents_Baseball': 1,
         '@SignalSports': 1,
         '@latsondheimer': 1,
         '@LesLukach': 1,
         '@NDSO_Athletics': 1,
         '@LacrosseSaugus': 1,
         '@…': 1,
         '@hart_basketball': 1,
         '@SaugusHoops': 1,
         '@TTaesarang': 1,
         '@m_mendozaferrer': 1,
         '@cgrapski': 1,
         '@TinaDesireeBerg': 1,
         '@gingercaddy': 1,
         '@BernieSanders': 1,
         '@cenkuygur': 1,
         'CBS2@11': 1,
         '@CBSLA': 1,
         '@SpecNews1SoCal': 1,
         '@ABSCBNNews': 1,
         '@ANCALERTS': 1,
         '@balitangamerica': 1,
         '@ABC7': 3,
         '@sierracanyon': 1,
         '@saugusasb': 1,
         '@todayshow': 1,
         '@everytown': 1,
         '@tifamela': 1,
         '@laist': 1,
         '@FOXLA': 2,
         '@GDLA': 1,
         '@AP': 1,
         '@AP_Images': 1,
         '@NRA': 1,
         '@PierceMediaArts': 1,
         '@JillphotoLA': 1,
         '(@SaugusHigh)': 1,
         '@SaugusGridiron': 1,
         '@BaskinNewhall': 4,
         '@Saugus_VB': 1,
         '(@': 63,
         '@maggieedoty': 1,
         '@awinghart': 1,
         '@saugusnewtoday': 1,
         '@bryan_steinerr3': 1,
         '@usacamps': 2,
         '“@Real_Liam_Payne:': 1,
         '@boybandproject': 1,
         '@BauerOutage': 1,
         '@TommyMilone_57': 1,
         '@ChloeRene19': 1,
         '@movementincdc': 1,
         '@TheSoCalHiker': 1,
         '“@SCVconfessions:': 1,
         '@KNOKXPRO': 1,
         '@CameronDallas': 1,
         '@SwarmingBRadio': 1,
         '@jay_tobes': 1,
         '@seekmynebula': 1,
         '“@CameronDallas:': 1,
         '@CourtneyConradd': 1,
         '@zachgarl': 1,
         '“@thebigfarshman:': 1,
         '@zFarbs7': 1,
         '@shannonwestlake': 1,
         '@zachgarlitos': 1,
         '@austenscheff33': 2,
         '@tito_o1': 1,
         '@celesteiniguez': 2,
         '@dennrodd': 1,
         '@xoxocheydav': 1,
         '@mstezzy13': 1,
         '@SaugusHigh': 1,
         '@SaugusAthletics': 1,
         '@Saugus_cents': 1,
         '@SAUGUS_BLUECREW': 1,
         '@santaclarita': 1})

In [81]:
def prep_created_at_column(df, csv_name):
    iterator = 0
    counter = 0
    fmt = '%Y-%m-%d %H:%M:%S'
    for _ in tqdm(df.created_at): 
        df.loc[iterator, 'created_at'] = df.loc[iterator, 'created_at'].replace(' PST', '')
        df.loc[iterator, 'created_at'] = df.loc[iterator, 'created_at'].replace(' PDT', '')
        iterator += 1
        counter += 1
    df['created_at'] = pd.to_datetime(df['created_at'])

In [83]:
iterator = 0
counter = 0
fmt = '%Y-%m-%d %H:%M:%S'
for _ in tqdm(df.created_at):
    print(_)
    
    
#     df.loc[iterator, 'created_at'] = df.loc[iterator, 'created_at'].replace(' PST', '')
#     df.loc[iterator, 'created_at'] = df.loc[iterator, 'created_at'].replace(' PDT', '')
#     iterator += 1
#     counter += 1
# df['created_at'] = pd.to_datetime(df['created_at'])

100%|██████████████████████████████████████████████████████████████████████████████| 541/541 [00:00<00:00, 9326.42it/s]

2021-01-13 16:46:23
2021-01-13 14:39:46
2020-12-25 10:01:29
2020-11-22 20:44:31
2020-11-22 20:18:51
2020-11-22 20:08:20
2020-11-16 12:14:09
2020-11-03 02:43:11
2020-10-31 16:04:07
2020-10-18 14:27:43
2020-10-10 18:02:52
2020-09-19 23:24:34
2020-09-19 23:17:55
2020-06-05 17:52:01
2020-06-03 23:07:31
2020-05-24 10:16:54
2020-04-18 14:01:13
2020-04-18 11:13:34
2020-04-07 17:01:42
2020-04-07 16:59:04
2020-03-23 15:30:14
2020-03-23 15:23:36
2020-03-22 21:45:23
2020-03-22 21:38:41
2020-03-22 21:30:12
2020-03-22 11:29:39
2020-03-22 10:34:54
2020-03-18 21:11:35
2020-03-18 20:57:09
2020-03-18 11:31:34
2020-03-16 10:02:36
2020-03-16 09:57:18
2020-03-16 09:55:09
2020-03-16 09:44:07
2020-03-16 09:41:39
2020-03-15 09:47:34
2020-03-15 09:37:50
2020-03-11 15:46:01
2020-03-10 21:34:10
2020-03-10 21:31:29
2020-03-09 17:14:12
2020-03-09 17:09:11
2020-03-09 17:07:02
2020-03-06 10:00:49
2020-03-05 11:42:27
2020-03-05 08:26:36
2020-03-03 19:24:47
2020-03-03 16:32:41
2020-03-03 16:22:31
2020-03-02 20:03:41
2020-03-02 20:00:03
2020-03-02 19:55:48
2020-02-29 15:17:27
2020-02-28 21:41:12
2020-02-28 21:32:40
2020-02-28 21:07:38
2020-02-28 17:03:22
2020-02-28 16:59:33
2020-02-27 08:34:06
2020-02-24 19:44:24
2020-02-24 19:40:31
2020-02-24 19:33:29
2020-02-23 18:35:24
2020-02-23 18:32:43
2020-02-23 18:30:15
2020-02-23 18:16:36
2020-02-22 17:02:30
2020-02-22 16:32:59
2020-02-22 11:43:55
2020-02-22 11:42:29
2020-02-22 09:21:24
2020-02-22 09:05:37
2020-02-22 09:00:50
2020-02-22 08:55:10
2020-02-20 17:56:09
2020-02-20 17:00:24
2020-02-20 16:56:28
2020-02-20 16:52:26
2020-02-19 21:59:13
2020-02-19 21:54:48
2020-02-19 21:50:19
2020-02-18 19:21:42
2020-02-17 20:56:12
2020-02-17 17:34:12
2020-02-17 17:28:11
2020-02-16 13:04:06
2020-02-13 10:54:52
2020-02-09 19:20:17
2020-02-09 12:44:02
2020-02-09 12:13:52
2020-02-09 09:55:24
2020-02-09 09:33:06
2020-02-08 12:04:25
2020-02-01 06:32:32
2020-01-23 09:10:58
2020-01-21 18:22:10
2019-12-20 15:24:26
2019-12-18 16:26:43
2019-12-15 04:36:32
2019-12-03 01:14:17
2019-12-02 20:48:33
2019-12-02 06:41:43
2019-11-24 14:17:26
2019-11-22 22:20:23
2019-11-22 15:32:40
2019-11-20 10:27:19
2019-11-19 22:38:23
2019-11-19 14:23:05
2019-11-19 13:32:47
2019-11-19 12:00:22
2019-11-18 11:14:54
2019-11-18 07:15:57
2019-11-18 00:10:56
2019-11-17 21:21:20
2019-11-17 20:11:12
2019-11-17 20:01:34
2019-11-17 19:12:02
2019-11-16 21:53:08
2019-11-16 11:28:45
2019-11-16 09:00:32
2019-11-15 22:58:37
2019-11-15 20:40:52
2019-11-15 19:55:18
2019-11-15 17:26:39
2019-11-15 17:18:26
2019-11-15 15:08:44
2019-11-15 14:54:14
2019-11-15 09:55:02
2019-11-15 09:20:44
2019-11-15 08:57:04
2019-11-15 08:41:33
2019-11-15 03:57:12
2019-11-15 00:46:38
2019-11-14 22:57:54
2019-11-14 22:47:51
2019-11-14 22:47:46
2019-11-14 22:08:43
2019-11-14 19:14:27
2019-11-14 18:21:11
2019-11-14 18:06:09
2019-11-14 17:21:58
2019-11-14 17:21:09
2019-11-14 17:02:58
2019-11-14 16:59:20
2019-11-14 15:20:28
2019-11-14 14:32:09
2019-11-14 14:18:15
2019-11-14 14:11:37
2019-11-14 13:35:37
2019-11-14 13:12:37
2019-11-14 12:04:17
2019-11-14 12:04:05
2019-11-14 11:56:42
2019-11-14 11:34:04
2019-11-14 11:20:02
2019-11-14 11:14:17
2019-11-14 11:13:14
2019-11-14 10:53:23
2019-11-14 10:46:45
2019-11-14 10:30:07
2019-11-14 10:23:36
2019-11-14 10:13:06
2019-11-14 10:04:03
2019-11-14 09:38:35
2019-11-14 09:27:10
2019-11-14 09:25:25
2019-11-14 09:09:34
2019-11-14 09:08:43
2019-11-14 09:06:45
2019-11-14 08:46:24
2019-11-14 08:44:57
2019-11-14 08:39:30
2019-11-14 08:37:51
2019-11-14 08:36:53
2019-11-14 08:31:51
2019-11-14 08:31:02
2019-11-14 08:30:31
2019-11-14 08:24:01
2019-11-14 08:14:09
2019-11-14 08:11:27
2019-11-14 07:53:14
2019-11-14 07:52:54
2019-11-02 12:01:12
2019-10-11 12:46:33
2019-08-28 16:10:19
2019-08-09 19:28:04
2019-06-28 16:45:29
2019-06-21 17:57:52
2019-06-21 13:32:46
2019-06-21 13:28:25
2019-06-10 11:04:08
2019-06-06 08:41:21
2019-06-05 07:21:54
2019-05-14 21:34:23
2019-04-29 20:09:58
2019-04-29 19:04:46
2019-04-29 19:03:22
2019-04-29 18:14:55
2019-04-29 17:57:12
2019-04-27 16:53:12
2019-04-27 16:52:09
2019-04-25 18:35:45
2019-04-25 18:17:24
2019-04-22 19:06:52
2019-04-22 17:45:51
2019-04-18 19:04:14
2019-04-17 11:31:57
2019-04-17 11:31:03
2019-04-11 19:47:29
2019-04-10 09:09:26
2019-04-10 09:08:22
2019-04-09 21:25:07
2019-04-09 18:54:25
2019-04-08 13:14:13
2019-04-08 13:12:33
2019-04-06 20:58:19
2019-04-06 11:48:09
2019-03-30 15:33:14
2019-03-30 13:50:58
2019-03-28 20:46:59
2019-03-28 20:22:39
2019-03-28 20:20:29
2019-03-27 20:03:43
2019-03-27 19:13:25
2019-03-27 18:02:37
2019-03-27 17:19:00
2019-03-27 15:11:58
2019-03-27 14:50:27
2019-03-21 17:50:20
2019-03-20 16:20:57
2019-02-28 15:54:32
2019-02-24 11:09:02
2019-02-18 19:44:24
2019-02-18 19:43:04
2019-02-17 11:33:57
2019-02-17 11:32:53
2019-02-02 14:26:24
2019-01-01 09:48:21
2018-12-08 12:05:35
2018-10-29 20:53:33
2018-10-12 20:07:23
2018-10-09 21:49:32
2018-10-07 09:08:28
2018-10-06 12:31:00
2018-10-05 20:11:32
2018-10-01 14:01:31
2018-09-27 16:16:13
2018-09-13 21:29:48
2018-09-08 08:30:59
2018-09-05 21:17:42
2018-08-08 12:26:41
2018-07-02 14:04:02
2018-06-28 17:17:45
2018-06-08 13:37:08
2018-05-05 17:03:43
2018-04-21 00:42:38
2018-04-17 21:31:59
2018-03-24 09:37:34
2018-03-10 18:06:09
2018-03-10 18:05:59
2018-02-10 08:36:40
2017-11-11 18:40:20
2017-11-11 18:40:06
2017-11-11 18:39:55
2017-11-11 18:39:41
2017-11-09 10:30:17
2017-10-23 16:00:58
2017-10-01 18:58:12
2017-09-02 07:09:38
2017-08-26 13:10:52
2017-08-26 12:58:03
2017-07-05 11:53:57
2017-05-15 20:54:43
2017-05-06 10:56:17
2017-04-02 11:55:50
2017-03-17 15:47:31
2017-03-09 14:12:53
2017-02-13 20:55:51
2017-02-11 07:58:20
2017-02-03 15:09:27
2017-01-28 20:35:52
2017-01-16 12:19:44
2017-01-14 14:43:08
2017-01-13 09:15:21
2016-10-24 20:59:05
2016-10-10 08:38:11
2016-10-01 20:18:42
2016-09-26 19:55:11
2016-09-21 22:18:14
2016-08-29 21:03:32
2016-08-26 12:27:28
2016-08-24 16:42:18
2016-08-22 08:18:43
2016-08-20 10:31:21
2016-08-19 14:49:48
2016-08-18 07:50:11
2016-08-16 18:28:08
2016-08-15 19:52:16
2016-08-15 13:09:34
2016-08-15 10:43:45
2016-08-10 07:54:57
2016-07-29 09:25:18
2016-06-30 21:34:11
2016-04-30 18:31:46
2016-04-23 10:05:26
2016-04-22 18:45:46
2016-04-20 09:00:51
2016-04-20 09:00:00
2016-04-15 17:39:44
2015-11-25 16:10:10
2015-10-22 19:20:11
2015-08-27 19:44:19
2015-08-14 23:20:38
2015-05-12 21:35:45
2015-03-31 07:27:05
2015-03-29 14:42:28
2015-03-26 21:42:56
2015-03-12 16:55:50
2015-03-01 18:11:37
2015-02-28 17:18:28
2015-02-28 15:55:12
2015-02-28 11:54:18
2015-02-21 13:15:00
2015-02-20 21:47:38
2015-02-19 10:15:58
2015-01-16 17:31:12
2015-01-14 09:59:13
2015-01-13 17:03:13
2014-12-29 14:58:10
2014-12-21 17:01:49
2014-12-09 00:02:06
2014-11-02 17:29:07
2014-11-01 11:11:50
2014-10-22 23:20:16
2014-10-12 17:59:15
2014-10-02 19:16:08
2014-09-29 18:25:03
2014-09-29 17:14:32
2014-09-17 17:43:51
2014-09-09 17:33:16
2014-08-26 16:57:08
2014-08-16 13:54:01
2014-08-13 20:00:44
2014-07-23 17:23:39
2014-07-22 21:28:30
2014-07-17 08:52:54
2014-07-12 19:36:08
2014-06-02 20:53:54
2014-06-02 18:39:25
2014-05-31 12:53:34
2014-05-30 09:34:05
2014-05-29 21:08:28
2014-05-23 21:13:49
2014-05-17 09:13:07
2014-05-15 20:04:08
2014-05-05 07:42:34
2014-05-03 18:55:23
2014-05-03 11:48:35
2014-05-02 13:52:52
2014-05-01 08:00:10
2014-04-29 20:55:06
2014-04-29 18:39:37
2014-04-26 17:17:32
2014-04-26 12:00:39
2014-04-25 13:50:58
2014-04-17 18:07:03
2014-04-14 21:31:56
2014-04-12 00:04:13
2014-03-27 21:20:51
2014-03-27 16:20:26
2014-03-27 11:02:25
2014-03-24 20:51:54
2014-03-21 07:37:30
2014-03-20 16:53:53
2014-03-05 21:40:16
2014-02-27 20:47:07
2014-02-24 20:27:38
2014-02-17 20:25:33
2014-02-15 21:19:58
2014-02-13 14:15:12
2014-02-10 20:57:17
2014-01-28 18:34:06
2014-01-28 14:45:31
2014-01-27 21:04:00
2014-01-24 16:24:25
2014-01-23 20:55:45
2014-01-20 20:51:22
2014-01-17 14:59:03
2014-01-14 17:57:37
2014-01-13 20:51:01
2014-01-11 18:31:57
2014-01-10 16:51:32
2014-01-10 14:09:55
2014-01-08 17:51:18
2013-12-15 19:56:51
2013-12-13 21:55:06
2013-12-13 18:25:44
2013-12-10 20:52:12
2013-12-09 20:54:31
2013-12-03 20:52:20
2013-12-02 21:03:22
2013-11-25 20:51:58
2013-11-19 20:51:19
2013-11-18 21:21:17
2013-11-15 13:51:16
2013-11-12 21:06:07
2013-11-09 19:11:06
2013-11-09 14:12:35
2013-11-01 15:02:10
2013-10-29 20:48:58
2013-10-28 20:54:06
2013-10-28 20:53:09
2013-10-21 20:50:49
2013-10-15 20:51:21
2013-10-14 20:45:33
2013-10-11 13:49:08
2013-10-08 20:40:02
2013-10-04 14:10:06
2013-10-01 20:55:56
2013-09-30 20:52:27
2013-09-26 19:36:10
2013-09-24 20:57:32
2013-09-23 20:53:03
2013-09-22 21:59:25
2013-09-17 18:28:23
2013-09-14 07:55:11
2013-09-10 20:51:33
2013-09-06 15:40:10
2013-09-03 20:54:12
2013-08-30 13:38:49
2013-08-29 16:03:15
2013-08-27 21:09:52
2013-08-16 14:22:28
2013-07-10 21:24:02
2013-07-09 21:23:54
2013-06-13 19:42:40
2013-05-25 16:03:57
2013-05-24 20:09:40
2013-05-21 08:40:02
2013-05-15 20:30:27
2013-05-14 13:39:26
2013-04-30 15:57:08
2013-04-29 21:11:07
2013-04-24 08:52:45
2013-04-24 08:49:28
2013-04-22 18:53:37
2013-03-29 11:37:58
2013-03-28 16:39:25
2013-03-26 13:36:47
2013-03-19 13:49:33
2013-03-11 20:57:34
2013-03-04 09:48:20
2013-02-27 07:42:01
2013-02-25 20:48:17
2013-02-25 12:43:29
2013-02-23 11:34:17
2013-02-20 18:50:10
2013-02-16 11:16:26
2013-02-14 08:14:28
2013-02-08 14:32:35
2013-02-04 18:55:26
2013-02-01 07:38:48
2013-01-31 08:07:45
2013-01-28 20:56:42
2013-01-25 13:54:59
2013-01-21 20:56:31
2013-01-18 13:56:26
2013-01-14 21:02:49
2013-01-10 16:21:25
2013-01-09 15:49:59
2013-01-09 14:54:13
2013-01-08 15:30:14
2013-01-07 16:51:08
2013-01-04 15:54:11
2013-01-02 16:51:50
2012-12-03 21:21:55
2012-11-28 09:45:53
2012-11-26 13:59:11
2012-11-15 10:47:08
2012-11-15 09:33:44
2012-11-13 17:04:25
2012-11-08 11:28:15
2012-11-03 14:45:49
2012-11-01 15:28:21
2012-10-31 14:53:24
2012-10-31 11:40:19
2012-10-23 09:59:47
2012-10-22 20:50:20
2012-10-18 11:02:22
2012-10-15 20:50:54
2012-10-09 23:34:05
2012-10-09 11:36:26
2012-10-04 23:25:47
2012-10-01 20:49:51
2012-09-24 21:06:42
2012-09-15 21:41:24
2012-09-13 16:57:46
2012-09-12 11:33:36
2012-09-11 09:24:40
2012-09-07 09:34:33
2012-09-06 09:20:06
2012-08-31 09:27:39
2012-08-30 11:54:25
2012-08-29 00:48:49
2012-08-27 12:03:38
2012-08-27 08:29:05
2012-08-23 19:57:51
2012-08-23 18:45:03
2012-08-22 22:07:15
2012-08-22 17:03:40
2012-08-20 20:58:07
2012-08-18 15:09:07
2012-08-18 12:31:28
2012-08-17 22:27:00
2012-08-16 17:10:13
2012-08-16 11:46:52
2012-08-16 06:55:15
2012-08-08 18:22:28
2012-07-19 09:35:59
2012-07-16 18:49:42
2012-07-12 18:45:32
2012-07-11 21:24:28
2012-07-09 21:31:52
2012-06-19 16:06:04
2012-06-01 10:21:37
2012-05-29 10:19:58
2012-04-11 18:58:53
2012-03-15 17:29:59
2011-12-26 14:58:48
2011-10-14 19:24:29
2010-11-06 12:26:25
2010-09-21 18:20:34
2020-11-14 12:06:38
2020-11-03 02:43:11
2019-11-23 14:09:01
2019-11-18 00:09:17
2019-11-17 23:34:13
2019-11-17 23:27:29
2019-11-17 22:40:37
2019-11-17 22:13:22
2019-11-17 21:24:11

In [76]:
def avg_minutes_between_tweets(df):
    num_list = []
    iterator = 0
    for _ in range(len(df)-1):
        diff = (df.loc[iterator, 'created_at']) - (df.loc[iterator+1, 'created_at'])
        diff_minutes = (diff.days * 24 * 60) + (diff.seconds/60)
        if diff_minutes < 0:
            diff_minutes = 0
        num_list.append(diff_minutes)
        iterator += 1
    try: avg = sum(num_list) / len(num_list)
    except ZeroDivisionError: avg = 0
    return float(avg), min(num_list), max(num_list)

print('Functions loaded') #Progress Check

Functions loaded

In [78]:
# ---Establish dataframes---

file = input('Which file name would you like me to read (minus the suffix)? ')

df = pd.read_csv(file+'.csv')
print('Main DataFrame loaded') #Progress Check
print('Changing "created_at" column to datetime')
prep_created_at_column(df, file+'2')
print('Created_at column changed') #Progress Check
df.to_csv(file+'2.csv')
refined_df = pd.DataFrame()

print('DataFrames Loaded') #Progress Check

Which file name would you like me to read (minus the suffix)? Saugus_HS

 28%|█████████████████████▍                                                        | 149/541 [00:00<00:00, 1489.98it/s]

Main DataFrame loaded
Changing "created_at" column to datetime

100%|██████████████████████████████████████████████████████████████████████████████| 541/541 [00:00<00:00, 1490.36it/s]

Created_at column changed
DataFrames Loaded

In [79]:
#---Processing script---

# --- username frequency ---

usernames = []
for b in df['username']:
    usernames.append(b)

username_count = dict(Counter(usernames))

print('username count completed')

username count completed

In [80]:
# --- processing ---
iterator = 0
for handle in tqdm(sorted(username_count, key=username_count.get, reverse=True)):
    print('Processing:', handle) #Progress Check
    temp_df = df[df['username'] == handle] #Establishes a temp sorted df of each username encountered
    print(handle, 'DataFrame established') #Progress Check
    temp_df = temp_df.reset_index(drop=True)
    refined_df.loc[iterator, 'username'] = handle
    refined_df.loc[iterator, 'total_tweets'] = int(len(temp_df))
    refined_df.loc[iterator, 'total_retweets'] = [dict(Counter(list(temp_df['retweet'])))]
    refined_df.loc[iterator, 'hashtag_frequency'] = [dict(Counter(hashtags_used_count(handle)).most_common())]
    try: min_date, max_date = min_max_date(handle)
    except ValueError: continue
    refined_df.loc[iterator, 'min_date'] = (min_date)
    refined_df.loc[iterator, 'max_date'] = (max_date)
    refined_df.loc[iterator, 'date_range_day_count'] = count_days(min_date, max_date)
    mentions = [extract_mentions(temp_df)]
    refined_df.loc[iterator, 'mentions'] = mentions
    try: avg, min_between, max_between = avg_minutes_between_tweets(temp_df)
    except ValueError: continue
    refined_df.loc[iterator, 'avg_min_between_tweets'] = float(round(Decimal(str(avg)), 2))
    refined_df.loc[iterator, 'min_min_between_tweets'] = float(round(Decimal(str(min_between)), 2))
    refined_df.loc[iterator, 'max_min_between_tweets'] = float(round(Decimal(str(max_between)), 2))
    
    iterator += 1
    
refined_df.head()

  4%|███▋                                                                              | 8/179 [00:00<00:02, 77.00it/s]

Processing: stillslippery
stillslippery DataFrame established
Processing: lacrossesaugus
lacrossesaugus DataFrame established
Processing: sierraa_meow
sierraa_meow DataFrame established
Processing: fearlessviviana
fearlessviviana DataFrame established
Processing: baskinnewhall
baskinnewhall DataFrame established
Processing: justinnaranjo5
justinnaranjo5 DataFrame established
Processing: michtait
michtait DataFrame established
Processing: simonmestas
simonmestas DataFrame established
Processing: wcedance
wcedance DataFrame established
Processing: scottspring2
scottspring2 DataFrame established
Processing: craigass14
craigass14 DataFrame established
Processing: colettemiller
colettemiller DataFrame established
Processing: socalirishsport
socalirishsport DataFrame established
Processing: mattgutmanabc
mattgutmanabc DataFrame established
Processing: alhenkel
alhenkel DataFrame established
Processing: abc7marccr
abc7marccr DataFrame established
Processing: jeffturner
jeffturner DataFrame established
Processing: ryandrake

 18%|██████████████▉                                                                  | 33/179 [00:00<00:01, 94.95it/s]

ryandrake DataFrame established
Processing: ispycc
ispycc DataFrame established
Processing: jeremymalm
jeremymalm DataFrame established
Processing: davidward
davidward DataFrame established
Processing: allmymusicsucks
allmymusicsucks DataFrame established
Processing: huntergirch3
huntergirch3 DataFrame established
Processing: tammyxmurga
tammyxmurga DataFrame established
Processing: gavnjules
gavnjules DataFrame established
Processing: runnerslane
runnerslane DataFrame established
Processing: 47young1
47young1 DataFrame established
Processing: pictureman415
pictureman415 DataFrame established
Processing: barrieeget
barrieeget DataFrame established
Processing: abc7robhayes
abc7robhayes DataFrame established
Processing: francislozano7
francislozano7 DataFrame established
Processing: hansgutknecht
hansgutknecht DataFrame established
Processing: steveconard
steveconard DataFrame established
Processing: abelalvarezcu
abelalvarezcu DataFrame established
Processing: austindave_
austindave_ DataFrame established
Processing: judijo
judijo DataFrame established
Processing: chloeestangl
chloeestangl DataFrame established
Processing: kkeellrr
kkeellrr DataFrame established
Processing: trustingdragon
trustingdragon DataFrame established
Processing: katfran
katfran DataFrame established
Processing: flimjannery
flimjannery DataFrame established
Processing:

 34%|██████████████████████████▊                                                     | 60/179 [00:00<00:01, 111.60it/s]

 madisonbain_
madisonbain_ DataFrame established
Processing: bradilady
bradilady DataFrame established
Processing: jossyboo
jossyboo DataFrame established
Processing: alemanywarriors
alemanywarriors DataFrame established
Processing: iamtgcmac3g
iamtgcmac3g DataFrame established
Processing: osburnmom
osburnmom DataFrame established
Processing: zfarbs7
zfarbs7 DataFrame established
Processing: _thir13en
_thir13en DataFrame established
Processing: howdodeleteme
howdodeleteme DataFrame established
Processing: sparkles284
sparkles284 DataFrame established
Processing: ceeduggg
ceeduggg DataFrame established
Processing: mhfeder
mhfeder DataFrame established
Processing: erinhalverson6
erinhalverson6 DataFrame established
Processing: rich_in_saugus
rich_in_saugus DataFrame established
Processing: wrbaseball
wrbaseball DataFrame established
Processing: halisapal
halisapal DataFrame established
Processing: sandyfamill
sandyfamill DataFrame established
Processing: khtssports
khtssports DataFrame established
Processing: bi_swamp_thing
bi_swamp_thing DataFrame established
Processing: coachtooz
coachtooz DataFrame established
Processing: lakingsicecrew
lakingsicecrew DataFrame established
Processing: apufotos
apufotos DataFrame established
Processing: cbslatom
cbslatom DataFrame established
Processing: royalhighdance
royalhighdance DataFrame established
Processing: jadamontemarano
jadamontemarano DataFrame established
Processing: marvinmarvlus
marvinmarvlus DataFrame established
Processing: skartis
skartis DataFrame established

 53%|██████████████████████████████████████████                                      | 94/179 [00:00<00:00, 134.16it/s]

Processing: danieljmcgreevy
danieljmcgreevy DataFrame established
Processing: emalvarenga10
emalvarenga10 DataFrame established
Processing: davidkimforca
davidkimforca DataFrame established
Processing: stevieangeles
stevieangeles DataFrame established
Processing: galswander
galswander DataFrame established
Processing: abc7jory
abc7jory DataFrame established
Processing: ann_bergara
ann_bergara DataFrame established
Processing: two8ninemedia
two8ninemedia DataFrame established
Processing: danwelh90
danwelh90 DataFrame established
Processing: bnahin
bnahin DataFrame established
Processing: ryanmcpartlin
ryanmcpartlin DataFrame established
Processing: debmophoto
debmophoto DataFrame established
Processing: cocobean41
cocobean41 DataFrame established
Processing: shawniewise7
shawniewise7 DataFrame established
Processing: abc7joshhaskell
abc7joshhaskell DataFrame established
Processing: alseibphoto
alseibphoto DataFrame established
Processing: kylebratzel
kylebratzel DataFrame established
Processing: princesstochtli
princesstochtli DataFrame established
Processing: cicada_news
cicada_news DataFrame established
Processing: greg_cowell
greg_cowell DataFrame established
Processing: vidcrane
vidcrane DataFrame established
Processing: chavatweets1
chavatweets1 DataFrame established
Processing: rickatfox
rickatfox DataFrame established
Processing: steffdaz
steffdaz DataFrame established
Processing: donguyenmai
donguyenmai DataFrame established
Processing: russellwolff
russellwolff DataFrame established
Processing: kylieejeanne
kylieejeanne DataFrame established
Processing: ekglizzy
ekglizzy DataFrame established
Processing: espinozareport
espinozareport DataFrame established
Processing: frank_i7
frank_i7 DataFrame established
Processing: savanna_b_news
savanna_b_news DataFrame established
Processing: teddylnnit
teddylnnit DataFrame established
Processing: skyelaringrsoll
skyelaringrsoll DataFrame established

 73%|█████████████████████████████████████████████████████████▎                     | 130/179 [00:00<00:00, 153.12it/s]

Processing: alvarezv_
alvarezv_ DataFrame established
Processing: simsjames
simsjames DataFrame established
Processing: d_figueroaa
d_figueroaa DataFrame established
Processing: prettyassleee
prettyassleee DataFrame established
Processing: rockthebird55
rockthebird55 DataFrame established
Processing: fredemmerson25
fredemmerson25 DataFrame established
Processing: taylorbr000ke
taylorbr000ke DataFrame established
Processing: misstredick_
misstredick_ DataFrame established
Processing: denicegomez84
denicegomez84 DataFrame established
Processing: mrsmshandmade
mrsmshandmade DataFrame established
Processing: saugus_bluecrew
saugus_bluecrew DataFrame established
Processing: kerrymulbeau
kerrymulbeau DataFrame established
Processing: jamesnramirez
jamesnramirez DataFrame established
Processing: ilovemargaritas
ilovemargaritas DataFrame established
Processing: saugushoops
saugushoops DataFrame established
Processing: swirlgirlspearl
swirlgirlspearl DataFrame established
Processing: karenbradder
karenbradder DataFrame established
Processing: edwards_rach
edwards_rach DataFrame established
Processing: scottritter12
scottritter12 DataFrame established
Processing: nat_suneemay
nat_suneemay DataFrame established
Processing: jetsettergabe
jetsettergabe DataFrame established
Processing: chrisnaddour
chrisnaddour DataFrame established
Processing: meghangwine
meghangwine DataFrame established
Processing: justin_deanda
justin_deanda DataFrame established
Processing: saugus_vb
saugus_vb DataFrame established
Processing: mendcryo
mendcryo DataFrame established
Processing: lorirdunn
lorirdunn DataFrame established
Processing: timelords_13
timelords_13 DataFrame established
Processing: toucheole
toucheole DataFrame established
Processing: aubreyhaffner
aubreyhaffner DataFrame established
Processing: gofusionngrill
gofusionngrill DataFrame established
Processing: deloswalton
deloswalton DataFrame established
Processing: cassiemeissel
cassiemeissel DataFrame established
Processing: thehund
thehund DataFrame established
Processing: brooke2385
brooke2385 DataFrame established

 93%|█████████████████████████████████████████████████████████████████████████▎     | 166/179 [00:01<00:00, 164.65it/s]

Processing: clarissapetzold
clarissapetzold DataFrame established
Processing: ninxcachon
ninxcachon DataFrame established
Processing: sunntanner
sunntanner DataFrame established
Processing: asap_toby
asap_toby DataFrame established
Processing: bgmama24
bgmama24 DataFrame established
Processing: baleyhuggle
baleyhuggle DataFrame established
Processing: paul_santilli
paul_santilli DataFrame established
Processing: sheddly22
sheddly22 DataFrame established
Processing: ssakaboo
ssakaboo DataFrame established
Processing: therobotmommy
therobotmommy DataFrame established
Processing: pete6591
pete6591 DataFrame established
Processing: lance_52
lance_52 DataFrame established
Processing: sierahollander
sierahollander DataFrame established
Processing: paulamay12_
paulamay12_ DataFrame established
Processing: aylamakena
aylamakena DataFrame established
Processing: laurennnhenryyy
laurennnhenryyy DataFrame established
Processing: 2quickmynigg20
2quickmynigg20 DataFrame established
Processing: jsmisko
jsmisko DataFrame established
Processing: wooviews_
wooviews_ DataFrame established
Processing: gschink96
gschink96 DataFrame established
Processing: rosiemanzano
rosiemanzano DataFrame established
Processing: mikey_wilke
mikey_wilke DataFrame established
Processing: sortogio
sortogio DataFrame established
Processing: vrbteach
vrbteach DataFrame established
Processing: deviousbear
deviousbear DataFrame established
Processing: paigemarie98
paigemarie98 DataFrame established
Processing: uclacoachrams
uclacoachrams DataFrame established
Processing: beckatobes
beckatobes DataFrame established
Processing: kimmielockhart7
kimmielockhart7 DataFrame established
Processing: elainanelsonnn
elainanelsonnn DataFrame established
Processing: nadianoel_
nadianoel_ DataFrame established
Processing: mmsanett
mmsanett DataFrame established
Processing:

100%|███████████████████████████████████████████████████████████████████████████████| 179/179 [00:01<00:00, 149.43it/s]

 amberphipps00
amberphipps00 DataFrame established
Processing: thektanomaly
thektanomaly DataFrame established
Processing: whitnowwhitning
whitnowwhitning DataFrame established
Processing: dfgrumpy
dfgrumpy DataFrame established
Processing: hartindiansfb
hartindiansfb DataFrame established
Processing: haileybwinslow
haileybwinslow DataFrame established
Processing: brad_o_williams
brad_o_williams DataFrame established
Processing: acalagias
acalagias DataFrame established
Processing: tiedtohope
tiedtohope DataFrame established
Processing: emilyfiitz
emilyfiitz DataFrame established
Processing: passthepinot
passthepinot DataFrame established

,username,total_tweets,total_retweets,hashtag_frequency,min_date,max_date,date_range_day_count,mentions,avg_min_between_tweets,min_min_between_tweets,max_min_between_tweets
0,stillslippery,136.0,{False: 136},"{'': 135, 'saugus': 1, 'shs': 1}",2011-10-14,2018-05-05,2395.0,{'(@': 49},25545.62,0.18,1061996.80
1,lacrossesaugus,123.0,{False: 123},"{'sauguslax': 116, 'lacrosse': 107, 'saugusath...",2018-06-08,2020-04-07,669.0,"{'@': 118, '@NDSO_Athletics': 1, '@LacrosseSau...",7898.07,0.90,233336.23
2,sierraa_meow,17.0,{False: 17},"{'': 12, 'homecomming': 1, 'weston': 1, 'shake...",2012-05-29,2012-10-31,155.0,"{'@': 17, '@zachgarl': 1, '@shannonwestlake': ...",13955.02,291.62,109233.63
3,fearlessviviana,9.0,{False: 9},"{'': 8, 'fall': 1}",2012-08-27,2013-03-29,214.0,"{'@': 9, '@seekmynebula': 1}",38543.61,2626.70,93984.32
4,baskinnewhall,8.0,{False: 8},"{'saugus': 8, 'santaclarita': 8, 'saugushighsc...",2019-06-21,2019-12-03,165.0,"{'@': 4, '@BaskinNewhall': 4}",33837.98,0.08,112435.83